// * outline * //
.outline {
  max-width: 768px;
  border: 1px solid #eaeaea;
  margin: 0 auto;
}

// * dim * //
@media screen and (min-width: 768px) {
  .mediaquery-dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d29393;
    color: #fff;
    z-index: 10;
  }
}

// * header * //
header {
  margin-top: 15px;
  padding: 0 10px;
  border-bottom: 1px solid #eeeeee;
  .info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-bar__time {
      font-size: 14px;
      font-weight: bold;
    }
    .info-bar__icons {
      img {
        width: 24px;
      }
    }
  }
  .menu-bar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-bar__location {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 20px;
        font-weight: bold;
      }
      img {
        margin-left: 10px;
        width: 20px;
      }
    }
    .menu-bar__icons {
      img {
        width: 30px;
        margin-left: 10px;
      }
    }
  }
}

// * footer * //
footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid #eeeeee;
  .footer-bar {
    text-align: center;
    cursor: pointer;
    img {
      width: 24px;
    }
    p {
      font-size: 12px;
    }
  }
}
